.firstH {
  text-align: center;
  background-color: #FF9932;


}
body {
  background-color: #FFE4C8;
}
.NAV {
  text-align: center;
}
#Ab {
  text-align: center;
  background-color: #FF9932;
}
#Top {
  text-align: center;

}
.P11 {
  text-align: center;
  font-size: 50px;
  font-style: italic;
}
#Top1 {
  text-align: center;
}
#welcome {
  font-size: 100px;
  text-align: center;
}
#Hobbies {
  text-align: center;
  font-size: 30px
}
#Hq {
  text-align: center;
  font-size: 20px;
}
#Hrr {
  font-size: 25px;
}
